@model mBikeEcommerce.Models.Contact

@{
    ViewBag.Title = "Contact";
}


<div class="contactmanager grey-card gridlayout-6">
    <img src="@Url.Content("~/Content/images/manager.jpg")" alt="Manager">
    <div>
        <span>Manager: Robert DeSoto</span>
    </div>
    <div>
        <span>Phone: 727-555-2323</span>
    </div>
    <div>
        <span>Email: Desoto.Robert@gladiator.com</span>
    </div>
    <div>
        <span>Address:</span>
    </div>
    <div>
        <span>1212 Florida Ave.</span>
    </div>
    <div>
        <span>Lakeland, Fl 33844</span>
    </div>
    <div>
        <span>Store Hours:</span>
    </div>
    <div>
        <span>[M - F] 11am - 6pm</span>
    </div>
    <div>
        <span>[Sat - Sun] 10am - 7pm</span>
    </div>
</div>
<div class="grey-card">
    @Html.ValidationSummary()
    @using(Html.BeginForm("Contact", "Home", FormMethod.Post))
    {
        <div class="contactname">
            <label for="name">Full Name</label><br>
            <input type="text" name="name" id="name" value="" required>
        </div>
        <div class="contactemail">
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email" value="" required>
        </div>
        <div class="contactarea">
            <label for="description">What can we help you with?</label><br>
            <textarea name="description" id="description" required></textarea>
        </div>
        <button class="success-btn" type="submit">Send Infomation</button>
    }
</div>