<nav>
    <ul id="navContent" class="gridlayout-6">
        <img src="@Url.Content("~/Content/images/logo4.png")" alt="Gladiator Bicycles" class="navimage" />
        @Html.Partial("~/Views/Shared/_NavbarLogin.cshtml")
        <div class="navbutton home">
            <a href="/">Home</a>
        </div>
        <div class="navbutton products">
            <a href="/product">Products</a>
        </div>
        <div class="navbutton about">
            <a href="/home/about">About Us</a>
        </div>
        <div class="navbutton contact">
            <a href="/home/contact">Contact Us</a>
        </div>
    </ul>
</nav>